.my-body {
    margin: auto;
}
  
.header-content {
    padding: 20px;
    color: rgb(84, 164, 116);
    display: flex;
    align-items: center;
    justify-content: space-between; /* 좌측에 로고, 우측에 버튼들 */
    font-size: 20px;
    width: 100%; /* 전체 너비를 사용하도록 설정 */
}

.logo {
    flex: 0 0 auto; /* 로고는 자신의 공간을 차지하며 크기는 고정 */
}

.tab-buttons {
    display: flex;
    justify-content: center;
    margin-right: 650px; /* 중앙 정렬을 위해 오른쪽 여백 자동 조정 */
    margin-top: 20px;
}

.tab-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #464646;
    margin-right: 50px; /* 버튼 간 간격 */
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    font-family: 'NanumSquareB', Arial, sans-serif;
}

.tab-buttons button:focus {
    outline: none;
}

.tab-buttons button:last-child {
    margin-right: 0;
}

.tab-buttons button.selected {
    border-bottom-color: #ababab;
}
