.my-body {
    margin: auto;
    width: 100vw;
}
  
.header-content {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 20px;
    width: 100%; 
}

.logo {
    flex: 0 0 auto;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    margin-right: 650px; 
    margin-top: 20px;
}

.tab-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #464646;
    margin-right: 50px; 
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    font-family: 'NanumSquareB', Arial, sans-serif;
}

.tab-buttons button:focus {
    outline: none;
}

.tab-buttons button:last-child {
    margin-right: 0;
}

.tab-buttons button.selected {
    border-bottom-color: #ababab;
}
