.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-logo {
    margin-left: 700px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.order-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.order-content-background {
    width: 90%;
    height: 260px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.order-content-background h3 {
    margin-left: 20px;
}

.person-info {
    margin-top: 40px;
    margin-left: 50px;
    font-size: 20px;
}

.person-info span {
    margin-left: 5px;
    margin-right: 40px;
    background-color: #fffffff1;
    padding: 10px 20px;
    border-radius: 10px;
}

.order-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    margin-top: 40px;
}

.order-info strong {
    font-size: 20px;
}

.order-info span {
    margin-right: 20px;
    margin-left: 10px;
    background-color: #fffffff1;
    padding: 10px 20px;
    border-radius: 10px;
}

.clock-icon {
    vertical-align: middle;
    width: 100px;
    height: 100px;
}

.order-button-groups {
    margin-left: 1150px; 
    display: flex;
    flex-direction: column; 
    margin-top: -140px; 
}

.order-button-groups button {
    margin-top: 10px;
    background-color: #d5d5d5; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 18px;
}

.order-button-groups button:hover {
    background-color: #fffffff1;
}