.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative; 
}

.photo-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-bottom: 20px;
}
  
.photo-box {
    width: 600px;
    height: 350px;
    border: 5px solid #36c24457;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 120px;
    margin-top: 30px;
}
  
.upload-btn {
    margin-top: 30px; 
    margin-left: 270px;
    padding: 8px 16px;
    background-color: #36c24457;
    color: rgb(68, 68, 68);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
 
.info-container {
    margin-top: 30px; 
    margin-left: 100px; 
    margin-right: auto; 
}

.info-content-background {
    width: 550px;
    background-color: #36c24457; 
    border-radius: 10px; 
    padding: 20px; 
}

.info-input {
    width: 300px;
    padding: 10px; 
    border: none;
    border-radius: 10px; 
    background-color: #fcfcfc;
    margin-left: 20px; 
    margin-bottom: 10px; 
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    border: 2px solid #fcfcfc; 
    background-color: #fcfcfc;
    margin-left: 3px;
}

input[type="checkbox"]:checked::before {
    background-color: #3b8443; 
}

.select-style {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    border: none;
    border-radius: 10px;
    background-color: #fcfcfc;
    padding: 10px;
    font-size: 16px;
}

.select-style:hover {
    background-color: #83b98a;
}

.select-style:focus {
    background-color: #ffffff;
}

.submit-button {
    position: absolute; 
    top: 490px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 8px 16px;
    background-color: #b5b5b56a;
    color: rgb(68, 68, 68);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 8px;
}