.full-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh; 
    background: linear-gradient(to right, #1ecd646b 50%, #fff 50%);
}

.login-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px; 
}

.signup-container{
    display: flex;
    flex-direction: column;
    width: 80vw; 
    max-width: 500px; 
    background: #fff;
    padding: 2vw; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.1);
}

.signup-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    margin-bottom: 20px;
}

.header{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin: 0;
    margin-top: 40px;
}

.signup-text{
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: lighter;
}

.signin-prompt {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    flex: 1;
    flex-direction: column;
    gap: 9px;
}

.signin-prompt span {
    color: rgb(112, 208, 150); 
    cursor: pointer;
    font-weight: bold;
}

.signup-inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.signup-custom-input {
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: auto;
    width: 70vw;
    max-width: 370px;
    height: 45px;
    background: #f3f1f1;
    padding: 0 15px;
    transition: border-color 0.3s ease;
}

.signup-custom-input::placeholder {
    font-size: 12px;
}

.signup-custom-input:focus {
    border-color: green;
    outline: none;
}

.signup-submit{
    display: flex;
    gap: 30px;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid rgb(139, 139, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    max-width: 400px;
    height: 40px;
    color: white;
    background: rgb(139, 139, 139);
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.5s ease;
}

.signup-submit.active {
    background: rgb(112, 208, 150); 
    border-color: rgb(112, 208, 150); 
}

.custom-input {
    margin-left: 10px;
}