@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.res-register-full-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background:  #f6e8b78d;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80vw;
    max-width: 1200px;
    height: 80vh;
    max-height: 570px;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.1);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.register-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 30px;
}

.register-text {
    color: rgb(0, 0, 0);
    font-size: 2.3vw;
    font-family: 'ChosunGu';
}

.register-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 9px;
}

.total-container {
    width: 100%;
    display: flex;
    overflow: auto;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
}

.left-container,
.right-container {
    flex: 1;
    padding: 20px;
}

.left-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.right-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.info-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #f3f1f1; 
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
}

.time-input,
.res-input,
.select-style {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #f3f1f1; 
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    font-size: 14px;
}

.time-input:focus,
.res-input:focus,
.info-input:focus {
    border-color: #cab674; 
    outline: none;
}

.preview-image {
    margin-top: 10px;
    margin-bottom: 5px;
}

.left-label-input-container {
    display: flex;
    align-items: center;
}

.left-label-input-container label {
    flex: 0 0 90px;
}

.left-label-input-container input {
    flex: 1;
    margin-top: 10px;
}

.time-input-container {
    display: flex;
}

.time-input-container input {
    flex: 1;
    margin-right: 5px;
}

.input-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-row label {
    flex: 0 0 140px; 
}

.submit-button {
    padding: 20px 30px;
    background-color: #ecd1756b; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 50px;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
}

.submit-button:hover {
    background-color: #e0ba3d6b; 
}