@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.admininfo_container {
    margin-left: 32vw;
    margin-top: 7vw;
    background-color: #569b5d24;
    padding: 2vw;
    border-radius: 10px;
    box-sizing: border-box; 
    width: 50%;
    height: 70%;
    box-shadow: 0 0 8px #569b5d24;
    text-align: center;
    font-family: 'NanumSquareRound';
}
  
.admininfo_container div {
    margin-bottom: 1vw;
    font-weight: bold;
}
  
.admininfo_container div p {
    margin-top: 0.5vw; /* <p> 요소 위쪽 간격을 조정 */
    margin-bottom: 0.5vw; /* <p> 요소 아래쪽 간격을 조정 */
}

.admininfo_container div span {
    font-weight: lighter;
    margin-top: 1vw;
    width: 60%;
    max-width: 300px;
    display: inline-block;
    padding: 0.7vw 1vw;
    border: 1px solid #fffffff1;
    border-radius: 5px; 
    background-color: #fffffff1;
    font-size: 1vw;
}

.admininfo_container h2 {
    font-size: 1.5vw;
}

.admininfo_container strong {
    font-size: 1vw;
}