@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.editpage-container {
    margin-left: 32vw;
    margin-top: 6vw;
    background-color: #569b5d24;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box; 
    width: 50%;
    height: 75%;
    box-shadow: 0 0 8px #569b5d24;
    font-family: 'NanumSquareRound';
}

.editpage-container form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.editpage-container h2 {
    text-align: center;
    font-size: 1.5vw;
}

.editpage-container label {
    display: block;
    margin-bottom: 1vw;
    font-weight: bold;
    font-size: 1vw;
}

.editpage-container input {
    width: 20vw;
    height: 3vh;
    padding: 0.6vw 1vw;
    margin-bottom: 1vw;
    border: 1px solid transparent;
    background-color: #fffffff1;
    border-radius: 5px;
    font-family: 'NanumSquareRound';
    font-size: 1vw;
}

.editpage-container input:focus {
    border-color: #569b5d;
    outline: none;
}

.editpage-container button {
    background-color: #8fbc8fc3;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 0.7vw 1vw;
    cursor: pointer;
    margin-top: 1vw;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'NanumSquareRound';
    font-size: 1vw;
}

.editpage-container button:hover {
    background-color: #fffffff1;
}