.editpage-container {
    margin-left: 400px;
    margin-top: 100px;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box; 
    width: 60%;
    height: 70%;
    box-shadow: 0 0 8px rgba(10, 10, 10, 0.1);
}

.editpage-container form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.editpage-container h2 {
    text-align: center;
}

.editpage-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.editpage-container input {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
    background-color: #e8e8e8;
    border-radius: 5px;
}

.editpage-container button {
    background-color: #c7c7c7;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.editpage-container button:hover {
    background-color: #e8e8e8;
}