@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.editpage-container {
    margin-left: 400px;
    margin-top: 100px;
    background-color: #569b5d24;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box; 
    width: 60%;
    height: 75%;
    box-shadow: 0 0 8px #569b5d24;
    font-family: 'NanumSquareRound';
}

.editpage-container form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.editpage-container h2 {
    text-align: center;
}

.editpage-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.editpage-container input {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    background-color: #fffffff1;
    border-radius: 5px;
    font-family: 'NanumSquareRound';
}

.editpage-container input:focus {
    border-color: #569b5d;
    outline: none;
}

.editpage-container button {
    background-color: #8fbc8fc3;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'NanumSquareRound';
}

.editpage-container button:hover {
    background-color: #fffffff1;
}