@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.side {
    width: 13vw;
    background-color: #569b5d24;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
}
  
.profile {
    width: 10vw;
    height: 7vh;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.user-info,
.edit-user,
.leave-user,
.restaurant-info,
.edit-restaurant,
.menu-info,
.restaurant-sales,
.withdrawal {
    color: rgb(255, 255, 255);
    padding: 8px 0;
    cursor: pointer;
    background-color: #8fbc8fc3;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    display: block;
    width: 10vw;
    font-size: 1vw;
    margin-top: 10px;
    margin-left: 1.4vw;
    font-family: 'NanumSquareRound';
}

.user-info:hover,
.edit-user:hover,
.leave-user:hover,
.restaurant-info:hover,
.restaurant-sales:hover,
.menu-info:hover,
.withdrawal:hover {
    color: #b5b5b5;
    background-color: white;
}
  
.back {
    color: white;
    padding: 8px 0;
    cursor: pointer;
    background-color: #8fbc8fc3;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    display: block;
    width: 10vw;
    font-size: 1vw;
    margin-top: auto;
    margin-bottom: 30px;
    margin-left: 1.4vw;
    font-family: 'NanumSquareRound';
}
.back:hover {
    color: #b5b5b5;
    background-color: white;
}

.logout {
    color: rgb(255, 255, 255);
    padding: 8px 0;
    cursor: pointer;
    background-color: #8fbc8fc3;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    display: block;
    width: 10vw;
    font-size: 1vw;
    margin-top: 10px;
    margin-left: 1.4vw;
}

.logout:hover {
    color: #b5b5b5;
    background-color: white;
}

.password-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.password-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

.password-modal-content input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-modal-content button {
    padding: 10px 20px;
    background-color: #95d28a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.password-modal-content button:hover {
    background-color: #479f37;
}