@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent; 
    z-index: 1000;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; 
    padding: 0 20px;
    background-color: transparent;
}

.logo-container {
    margin-right: auto;
}

.user {
    margin-right: 20px;
    margin-left: auto; 
    display: flex; 
    align-items: center; 
}

.mainpage-header-button {
    padding: 8px 16px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    margin: 0 8px;
    font-size: 1.3vw;
    white-space: nowrap;
}

.mainpage-header-button:hover {
    color: #8b8b8b;
}

.user-icon {
    margin-left: 50px;
}

.nav-button {
    padding: 1vw 1vw;
    background-color: transparent; 
    border: none;
    cursor: pointer;
    font-size: 1.3vw;
    font-family: 'NanumBarunpen';
}

.nav-button:hover {
    color: #8b8b8b;
}