.scroll-container {
    position: realative;
    width: 100vw;
    height: 100vh
}

.scroll-top{
    position: fixed;
    bottom: 30px;    
    right: 60px;    
    background-color: transparent;
    border: none;   
    font-size: 35px; 
    color: rgb(63, 63, 63);
  }
  
  .scroll-top:hover {
      color: rgb(186, 186, 186); 
      cursor: pointer;
  }