.reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-logo {
    margin-left: 700px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.date-picker-container {
    margin-left: auto; 
    position: relative;
}

.date-picker-modal {
    position: absolute;
    right: 40px;
}

.date-picker {
    cursor: pointer;
    padding: 8px 12px;
    background-color: #cdcdcdb4;
    border: 3px solid #cdcdcd;
    border-radius: 5px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.date-picker:hover {
    background-color: #b0b0b0b4;
}

.res-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 50px;
}

.res-content-background {
    width: 90%;
    height: 260px;
    background-color: #569b5d24;
    border-radius: 20px;
}

.res-content-background h3 {
    margin-left: 20px;
}

.person-info {
    margin-left: 50px;
    font-size: 20px;
}

.person-info span {
    margin-left: 5px;
    margin-right: 40px;
    background-color: #fffffff1;
    padding: 10px 20px;
    border-radius: 10px;
}

.res-info {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin-left: 30px;
    margin-top: 40px;
}

.res-info strong {
    font-size: 20px;
}

.res-info span {
    margin-right: 20px;
    margin-left: 10px;
    background-color: #fffffff1;
    padding: 10px 20px;
    border-radius: 10px;
}

.icon {
    vertical-align: middle;
    width: 100px;
    height: 100px;
}

.button-groups {
    margin-left: auto; 
    margin-right: 70px;
    display: flex;
    flex-direction: column; 
    margin-top: -90px; 
}

.button-groups button {
    margin-top: 10px;
    background-color: #fffffff1; 
    border: 1px solid #fffffff1; 
    border-radius: 30px; 
    padding: 10px 20px; 
    font-size: 18px;
}

.button-groups button:hover {
    background-color: #cdcdcd;
}